@media (width<390px) {
    header{
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1.4rem;
            text-align: center;
        }
    }
    
    .barber{
        width: 20rem;
        min-width: 20rem;
    }
    
}

@media (width>550px) {
    .slide, .slides-container{
        height: 40rem;
    }
    .hairCuts{
        .hairCutsCards{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (width>700px) {
    .slide, .slides-container{
        height: 45rem;
    }
    .hairCuts{
        .hairCutsCards{
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .servicesValue{
        display: flex;
        align-items: center;
        margin: 0 1rem;
        position: relative;
        padding: 3rem 0 0;
        h2{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}

@media (width>850px) {
    .slide, .slides-container{
        height: 50rem;
    }
    .hairCuts{
        .hairCutsCards{
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

/* Center barbersContainer only when 2 cards + 2rem gap + 2rem padding fit */
@media (width>=700px) {
    .barbersContainer{
        justify-content: center;
    }
}

/* 400px + 250px + 50px?  ~= 700px*/